
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }

 body{
    min-height: 100vh;
    font: min(1.5rem, 2vh,1.2rem);
    display: flex;
    flex-direction: column;
    background-color:rgba(128, 128, 128, 0.318);
    font-size: 1rem;
 }

 /* ROOT */
 :root{
    --FS: clamp(1.5rem, 3vh,1.7rem);
    --FS-SM:clamp(1.25rem,2vh, 1.5rem);

 }
main{
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
}

header, footer{
    background-color: rgb(0, 0, 255);
    position: sticky;
    text-align:center;
    font-weight: bolder;
}
header{top:0}
footer{bottom:0}

header nav{background: white;}

main section{
    flex-grow:1;
    padding: 0.1em;
    font-size: var(--FS);
    padding: 0.5em;

}

main aside{
    flex-grow: 1;
    background: rgba(245, 222, 179, 0.56);
    padding: 0.5em;
    font-size: var(--FS-SM);
}

/* Media Queries */
@media screen and (min-width:576px){
  main{
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0;
  }
  main section {
    width: calc(70% - 5px);
  
  }
  main aside{
    width: calc(30% - 5px);
  }
}
